## .NET
bin/
obj/
*.user
*.suo

## Rider / VS
.vs/
.idea/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
.swiftpm/
*.ipa
*.dSYM.zip
*.dSYM

## OS
.DS_Store
Thumbs.db

## Secrets / local config
*.local.json
appsettings.Local.json
.env
.env.*
AuthKey_*.p8
*.p8
