## .NET
bin/
obj/
*.user
*.suo

## Rider / VS
.vs/
.idea/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## OS
.DS_Store
Thumbs.db

## Secrets / local config
*.local.json
appsettings.Local.json
.env
.env.*
